<header class="relative overflow-hidden" aria-labelledby="heroHeading">
    <h2 id="heroHeading" class="sr-only" aria-hidden="true">Header</h2>
    <div class="hidden lg:block lg:absolute lg:inset-0" aria-hidden="true">
        <svg class="absolute top-0 transform translate-x-64 -translate-y-8 left-1/2" width="640" height="784" fill="none" viewBox="0 0 640 784">
            <defs>
                <pattern id="dots" x="118" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" class="text-blue-200" fill="currentColor" />
                </pattern>
            </defs>
            <rect y="72" width="640" height="640" class="text-gray-50" fill="currentColor" />
            <rect x="118" width="404" height="784" fill="url(#dots)" />
        </svg>
    </div>
    <div class="relative z-10 px-4 mx-auto my-16 max-w-7xl sm:px-6">
        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
            <section class="space-y-4 sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left lg:items-center" aria-labelledby="heroContentHeading">
                <h2 id="heroContentHeading" class="sr-only" aria-hidden="true">Content Section</h2>
                <span class="block text-sm font-semibold tracking-wide text-blue-600 uppercase sm:text-base lg:text-sm xl:text-base">{{site_heading}}</span>
                <h1 class="block mt-1 text-4xl font-extrabold tracking-tight sm:text-5xl xl:text-6xl text-gray-900">
                    {{slogan}}
                </h1>
                <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
                    {{description}}
                </p>
                <div class="inline-flex items-center divide-x divide-gray-300">
                    <div class="inline-flex flex-shrink-0 pr-5">
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                        <!-- Heroicon name: solid/star -->
                        <svg class="w-6 h-6 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                        </svg>
                    </div>
                    <div class="flex-1 min-w-0 py-1 pl-5 text-sm text-gray-500 sm:py-3">
                        <p class="font-medium text-gray-900">
                            Rated 
                            
                            <a href="https://www.google.com/search?hl=en&q=brevard%20pool%20care#lrd=0x88e0a9ad1aa6ab27:0x78f4d95cd24c5296,1,,," class="text-blue-600 hover:text-blue-700">5 stars
                            </a> by our happy customers!
                        </p>
                    </div>
                </div>
            </section>
            <section class="mt-16 sm:mt-24 lg:mt-0 lg:col-span-6" aria-labelledby="heroFormHeading">
                <h2 id="heroFormHeading" class="sr-only" aria-hidden="true">Form Section</h2>
                <div class="bg-blue-50 sm:max-w-md md:max-w-lg sm:w-full sm:mx-auto sm:rounded-lg sm:overflow-hidden">
                    <div class="px-4 py-8 sm:px-10">
                        <p class="block text-sm font-semibold tracking-wide text-blue-600 uppercase sm:text-base lg:text-sm xl:text-base" aria-hidden="true">GET A FREE QUOTE WITHIN 24 HOURS!</p>
                        <div>
                            {{> form}}
                        </div>
                    </div>
                    <div class="px-4 py-6 bg-blue-100 border-t-2 border-blue-300 sm:px-10">
                        <p class="text-xs leading-5 text-gray-400">By clicking "Get A FREE Quote Within 24 Hours!", you agree that the quote provided by Brevard Pool Care, LLC - is based upon the assumption all pool equipment functions properly and pool equipment / pool is not leaking.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>